In [14]:
import pandas as pd
import random

In [3]:
score = {"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names = pd.Series(score) # Conver to series
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [22]:
alphas = ["a","b","c","d","e","f","g","h","i","j"]
random_vals = pd.Series(alphas)
for val in range(11):
    random_vals["a"]= random.randint(0,10)
    random_vals["b"]= random.randint(0,10)
    random_vals["c"]= random.randint(0,10)
    random_vals["d"]= random.randint(0,10)
    random_vals["e"]= random.randint(0,10)
    random_vals["f"]= random.randint(0,10)
    random_vals["g"]= random.randint(0,10)
    random_vals["h"]= random.randint(0,10)
    random_vals["i"]= random.randint(0,10)
    random_vals["j"]= random.randint(0,10)
random_vals

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
a    7
b    3
c    1
d    6
e    5
f    0
g    9
h    4
i    1
j    8
dtype: object

In [23]:
data = {
      "index":["a","b","c"],
      "name" :["Ade","Bella","Clara"],
      "age":[10,15,9]
}

In [25]:
df= pd.DataFrame(data)

In [26]:
df

  index   name  age
0     a    Ade   10
1     b  Bella   15
2     c  Clara    9