In [16]:
import pymysql.cursors

def write_to_db(accName, accNum,BVN,accountStatus):
    # Connect to the database
    connection = pymysql.connect(host='localhost',
                             user='root',
                             password='Kelikume11&&',
                             database='interbank',
                             cursorclass=pymysql.cursors.DictCursor)

    with connection:
        with connection.cursor() as cursor:
            # Create a new record
            sql = "INSERT INTO `accounts` (accountName, accountNumber,BVN, accountStatus) VALUES ('{0}', '{1}','{2}','{3}')"
            cursor.execute(sql.format(accName, accNum,BVN, accountStatus))

        # connection is not autocommit by default. So you must commit to save
        # your changes.
            connection.commit()

In [2]:
import pymysql.cursors
import csv

with open('interbank_accts.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
#     print(list(csv_reader))
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'\t{row[0].ljust(15)}  {row[1].ljust(25)} {row[2].ljust(15)} {row[3].rjust(9)}\n')
#             write_to_db(row[0],row[1],row[2],row[3])
            line_count += 1
           
            
        else:
            print(f'\t{row[0].ljust(15)}  {row[1].ljust(25)} {row[2].ljust(15)} {row[3].rjust(9)} \n')
            
#             write_to_db(row[0],row[1],row[2],row[3])
            line_count += 1    
#         print(f'Processed {line_count} lines.')

	accountName      accountNumber             BVN             accountStatus

	John Okafor      3453423654                1234567                 0

	John Okafornutr  3453423655                1234569                 1

	John Oka         3453423656                1234571                 0

	Joh Okafor       3453423657                1234573                 1

	John Okafo       3453423658                1234575                 1

	hon Okafor       3453423659                1234577                 1

	J Okar           3453423610                1234579                 1

	John kafor       3453423611                1234581                 1

	Jon mkafor       3453423612                1234583                 1

	Jin Okafor       3453423613                1234585                 1

	n Okafor         3453423614                1234587                 1

	John Okor        3453423615                1234589                 1

	John Okaor       3453423616                1234591                 1

	Jn kafor         3453423617                1234593                 1

	Jn Okfor         3453423618                1234595                 1

	John Okanor      3453423619                1234597                 1

	John Okaf        3453423620                1234599                 0

	Jhn Okafr        3453423621                1234601                 0

	John mOkafor     3453423622                1234603                 0